{% extends 'index.html' %}

{% block content %}
<div class="container col-md-4 mt-3">
    <h4 class="mb-2">Customer details:</h4>
    <div class="card text-bg-light" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">{{record.first_name}} {{record.last_name}}</h5>
          <br>
          <p class="card-text"><strong>Email : </strong>{{record.email}}</p>
          <p class="card-text"><strong>Mobile : </strong>{{record.mobile}}</p>
          <p class="card-text"><strong>Address : </strong>{{record.Address}}</p>
          <p class="card-text"><strong>Created by : </strong>{{record.user.username}}</p>
          <p class="card-text"><strong>Created at : </strong>{{record.created_at}}</p>
          <a class="btn btn-secondary" href="{% url 'update' record.id %}" role="button">Update</a>
          <a class="btn btn-danger" href="{% url 'delete' record.id %}" role="button">Delete</a>
        </div>
      </div>
</div>
{% endblock %}